version: 2
jobs:
 build:
   machine: true
   steps:
# build and push Docker image
      - run: 
#         TAG=0.1.$CIRCLE_BUILD_NUM
          docker build -t chux2000/clayvnc:$TAG . &&
          echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin &&
          docker push chux2000/clayvnc:$TAG